:root{
    --main-color: #003366;
    --secon-color: whitesmoke;
}
body{
    margin: auto;
    background-color: var(--main-color);
    color: var(--secon-color);
}
.homepage{
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    color: whitesmoke;
    border: solid black,1px; 
}
.navbar{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    display: flex;
    border: solid black , 1px;
    font-size: large;
    background-color: lightsteelblue;
}
a{
    margin: auto;
    padding: auto;
    text-align: center;
    color: goldenrod;
    text-decoration: none;
    font-size: large; 
    font-family: Arial, Helvetica, sans-serif
}
a:hover{
    color: #093;
    font-size: large;
    text-decoration-line: underline;
}
*{
    box-sizing: border-box;
}
.foot{
    font-size: xx-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    text-decoration: none;
    text-align: center;
    padding: 3rem;
    margin: 1px;
}
.btn1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: auto;
    padding: 2px;
    color: whitesmoke;
    cursor: pointer;
}
.btn1 p{
    color: rgba(237, 172, 74, 0.822);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: solid black, 1px;
    display: none;
    text-align:start;
    font-size: medium;
    margin: auto;
    padding: auto;
}
h3{
    text-align: center;
    margin: 2px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 5px;
    padding: 1px;
}
.radio-c {
    flex: 1;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    margin: 5px;
    text-align: left;
    max-height: fit-content;
}
.smbtn{
    margin-right: 15px;
    padding: 5px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 2px;
}
#output{
    font-size: xx-small;
    margin: 0px;
}
.theme2{
    --main-color: black;
    --secon-color: goldenrod;
}
#dmode{
    margin: auto;
    padding: 3px;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--secon-color);
    position: fixed;
    right: 10px;
    bottom: 20px;
}
#meddelande{
    margin: auto;
    background-color: var(--main-color);
    color: var(--secon-color);
    border-radius: 5px;
}
#visameddelande{
    margin: auto;
    background-color: var(--main-color);
    color: var(--secon-color);
    border-radius: 5px;
}
.kontakt-m{
    display:grid;
    margin: 5px;
    padding: 1px;
}
#csnlogocss{
    border-radius: solid black, 5px;
    width: 30px;
    height: auto;
    justify-items: right;
    display:flex;
}
@media screen and (max-width: 700px){ 
    .navbar, .main, .radio-c, #dmode, #meddelande, #visameddelande{
        flex-direction: column;}
}